<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconName</key>
			<string>AppIcon</string>
		</dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>AppIconWhite</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconWhite</string>
				</array>
				<key>CFBundleIconName</key>
				<string>AppIconWhite</string>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconBlack</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconBlack</string>
				</array>
				<key>CFBundleIconName</key>
				<string>AppIconBlack</string>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconOcean</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconOcean</string>
				</array>
				<key>CFBundleIconName</key>
				<string>AppIconOcean</string>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconEmber</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconEmber</string>
				</array>
				<key>CFBundleIconName</key>
				<string>AppIconEmber</string>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconForest</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconForest</string>
				</array>
				<key>CFBundleIconName</key>
				<string>AppIconForest</string>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
	</dict>
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconName</key>
			<string>AppIcon</string>
		</dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>AppIconWhite</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconWhite</string>
				</array>
				<key>CFBundleIconName</key>
				<string>AppIconWhite</string>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconBlack</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconBlack</string>
				</array>
				<key>CFBundleIconName</key>
				<string>AppIconBlack</string>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconOcean</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconOcean</string>
				</array>
				<key>CFBundleIconName</key>
				<string>AppIconOcean</string>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconEmber</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconEmber</string>
				</array>
				<key>CFBundleIconName</key>
				<string>AppIconEmber</string>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconForest</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconForest</string>
				</array>
				<key>CFBundleIconName</key>
				<string>AppIconForest</string>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
	</dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.eilgnaw.dexo</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>dexo</string>
			</array>
		</dict>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Allow Dexo to save images from posts to your Photos library.</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIToolbar</key>
		<dict>
			<key>UIImageName</key>
			<string></string>
		</dict>
	</dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
</dict>
</plist>
